<.header>
  New Document
  <:subtitle>Enter the document title and content</:subtitle>
</.header>

<.document_form changeset={@changeset} action={~p"/documents"} />

<.back navigate={~p"/documents"}>Back to documents</.back>
